<t> Thank you for submitting this checklist. This app is still in Beta Testing. Please make sure that the office received your email.</t>

<h4>
	<%= link_to "Create a new checklist", new_site_path, class: "btn btn-success btn-lg fa fa-pencil" %>

</h4>